hostname {{ host }}
password zebra
enable password zebra
!
! TODO: want to set interface name with some way
interface ens192
 description connected to seminar network
 ip address {{ ens192_addr }}
 ipv6 nd suppress-ra
!
! TODO: want to set interface name with some way
interface ens224
 ip address {{ ens224_addr }}
 ipv6 nd suppress-ra
!
interface lo
!
ip route 0.0.0.0/0 {{ default_route }}
!
ip forwarding
!
!
line vty
!
